* {
    padding: 0%;
    margin: 0%;
}

.countdownContainer {
    position: absolute;
    top: 1550px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: rgb(95, 95, 95);
    border: 1px solid rgb(90, 90, 90);
    padding: 10px;
    box-shadow: 0 0 5px 3px rgb(77, 77, 77);
    

}
.info {
    font-size: 80px;
    
}

body {
    background-image: url(images/Background3.png);
    background-color: black;
   
       

    
}

       

#parent {position: relative;}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}
.longadog {
    height: 100px;
    width: 250px;
    position: absolute;
    top: 1750px;
}
#parent img {
    position: absolute;
    width: 3000px;
    height: 1500px;
    top: 1075px;
    right: -575px;
}

.button {
    
    width: 250px;
    height: 80px;
    top: 1000px;
    left: 1000px;
    position: relative;
    border: 3px solid #555;
    border-radius: 5px;
    transition-duration: .60s;
    background: url(images/beer.png);
    }

    .button1{
        box-shadow: 0 5px 10px rgba(0,0,0.5); 
        
        }
    .button:hover{
        box-shadow: 0 5px 10px rgba(0,0,0.5); 
        transform: scale(.95)
        }


header {
    height: 1800px;
    text-align: center;
    background-image: url(images/overworldtitle.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: center;

}

.banner { width: 90%;}
.banner img {width: 100%;}
.heading { position: absolute; top: 2664px; left: 1550px; font-family: 'MedievalSharp'; color: black;}
.heading2 { position: absolute; top: 2700px; left: 1420px; font-family: 'MedievalSharp'; font-style: oblique; color: black;}
.heading3 { position: absolute; top: 2707px; left: 1520px; margin-left: 0%; margin-right: 2%; font-family: 'MedievalSharp'; font-style: oblique; color: black; font-weight: bold;}
.heading4 { position: absolute; font-size: 20.5px; top: 2765px; left: 1415px; font-family: 'MedievalSharp'; font-style: oblique; color: black;}
.heading5 { position: absolute; top: 2770px; left: 1520px; margin-left: 0%; margin-right: 2%; font-family: 'MedievalSharp'; font-style: oblique; color: black;font-weight: bold;}
.heading6 { position: absolute; font-size: 21px; top: 2855px; left: 1430px; font-family: 'MedievalSharp'; font-style: oblique; color: black;}
.heading7 { position: absolute; top: 2857px; left: 1518px; margin-left: 0%; margin-right: 2%; font-family: 'MedievalSharp'; font-style: oblique; color: black;font-weight: bold;}
.heading8 { position: absolute; font-size: 21px; top: 3007px; left: 1448px; font-family: 'MedievalSharp'; font-style: oblique; color: black;}
.heading9 { position: absolute; top: 3010px; left: 1515px; margin-left: 0%; margin-right: 2%; font-family: 'MedievalSharp'; font-style: oblique; color: black;font-weight: bold;}


nav {    
    
    height: 1800px;
    
    background-size: cover;
    background-position: center;

    
}
#parent

.scroll {
    width: 1855px;
    
}
.scroll img{
    width: 100%;
}


main {    
    background-color: orange;
    height: 200px;
    background-image: url(images/Background3.png);
    background-size: cover;
    background-position: center;
    
    
}

footer {    
    background-color: green;
    height: 1px;
    background-image: url(images/Background3.png);
    background-size: cover;
    background-position: center;
    
}

  
